body {
  background-color: #D2DAFF;
  font-size: 1.4em;
  margin: 15px;
}

.dot {
  border-color: #777777;
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  /** border-width creates the size of the dots in our dotted style **/
  width: 7%;
  height: 5px;
}
h1, h2, h3{color:#5F6F94;}

/** height created a padding. **/
